<h2>Equipment</h2>

<div class="row">
  {{#each slot in session.player.slots}}
    <div class="col-sm-6 col-md-4">
      <div {{bind-attr class="zone.isBattle :thumbnail"}}>
        <div class="caption">
          {{#with slot.item}}
            <h3>{{title}}</h3>
            <p>{{type}}</p>
            <p>
              <button class="btn btn-primary" {{action "unequip" slot slot.item}}>
                Unequip
              </button>
            </p>
          {{/with}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
