<h2>Equipment</h2>

<ul>
  {{#each slot in session.player.slots}}
    <li>
      {{#with slot.item}}
        <p>
          <strong>Title:</strong>
          {{title}}
        </p>
        <p>
          <strong>Type:</strong>
          {{type}}
        </p>
      {{/with}}
    </li>
  {{/each}}
</ul>
