<h2>Inventory</h2>

<ul>
  {{#each inventory in session.player.inventories}}
    <li>
      {{#with inventory.item}}
        <p>
          <strong>Title:</strong>
          {{title}}
        </p>
        <p>
          <strong>Type:</strong>
          {{type}}
        </p>

        <button {{action "equip" inventory inventory.item}}>
          Equip
        </button>
      {{/with}}
    </li>
  {{/each}}
</ul>


