<h2>Inventory</h2>

<div class="row">
  {{#each inventory in session.player.inventories}}
    <div class="col-sm-6 col-md-4">
      <div {{bind-attr class="zone.isBattle :thumbnail"}}>
        <div class="caption">
          {{#with inventory.item}}
            <h3>{{title}}</h3>
            <p>{{type}}</p>
            <p>
              <button class="btn btn-primary" {{action "equip" inventory inventory.item}}>
                Equip
              </button>
            </p>
          {{/with}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
