div#zones {
  @include outer-container;

  div {
    @include span-columns(4 of 9);
    height: 150px;
    line-height: 55px;
    background-color: #333;
    text-align: center;
    margin-bottom: 25px;

    a {
      color: white;
      display: block;
      cursor: pointer;
      height: 100%;
      width: 100%;
      float: left;
    }

    &.is-battle {
      background-color: #e75e6d;
      a { color: #fff; font-weight: bold; }
    }
  }
}
