{{partial "application/navbar"}}

<div class="container-fluid">
  <div class="row">
    {{partial "application/sidebar"}}

    <section class="col-md-10">
      {{outlet}}
    </section>
  </div>
</div>
